<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

<Files .env>
    Order allow,deny
    Deny from all
</Files>

RewriteEngine On

# Handle Authorization Header
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Redirect non-www to https://goinno2u.com without www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

# Redirect to https://goinno2u.com without www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://goinno2u.com%{REQUEST_URI} [R=301,L]

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
