/* styles for screens smaller than 576px */
@media (max-width: 575px) {
    /* styles for small screens */
  }

  /* styles for screens between 576px and 768px */
  @media (min-width: 576px) and (max-width: 767px) {
    /* styles for medium screens */
  }

  /* styles for screens between 768px and 992px */
  @media (min-width: 768px) and (max-width: 991px) {
    /* styles for large screens */
  }

  /* styles for screens between 992px and 1200px */
  @media (min-width: 992px) and (max-width: 1199px) {
    #acecapital{
        left: 26%;
    }
    #aceikhlas{
        left: 29%;
    }
    #aceassay{
        left: 31%;
    }
    #aceihsan{
        left: 33%;
    }
  }

  /* styles for screens larger than 1200px */
  @media (min-width: 1200px) and (max-width: 1366px) {
    #acecapital{
        left: 26%;
    }
    #aceikhlas{
        left: 27%;
    }
    #aceassay{
        left: 28%;
    }
    #aceihsan{
        left: 30%;
    }
  }

  @media (min-width: 1366px) and (max-width: 1535px) {
    #acecapital{
        left: 25%;
    }
    #aceikhlas{
        left: 26%;
    }
    #aceassay{
        left: 26%;
    }
    #aceihsan{
        left: 26%;
    }
  }

  @media (min-width: 1535px) and (max-width: 1600px) {
    #acecapital{
        left: 26%;
    }
    #aceikhlas{
        left: 29%;
    }
    #aceassay{
        left: 31%;
    }
    #aceihsan{
        left: 33%;
    }
  }

  /* @media (min-width: 1600px){
    #acecapital{
        left: 27%;
    }
    #aceikhlas{
        left: 30%;
    }
    #aceassay{
        left: 33%;
    }
    #aceihsan{
        left: 36%;
    }
  } */

